DATABASE_URL="postgresql://remika:@Remika25032024@100.112.155.17:5432/rmk?schema=public"
S3_ENDPOINT=http://100.112.155.17:9000
S3_SECRET_KEY=@Remika25032024
S3_ACCESS_KEY=remika
# S3_PROVIDER=minio

DB_HOST=100.112.155.17
DB_PORT=5432
DB_USER=remika
DB_PASSWORD=@Remika25032024
DB_NAME=rmk_test
DB_AUTO_UPDATE=true

PAYMENT_SEPAY_MERCHANT_ID=SP-TEST
PAYMENT_SEPAY_MERCHANT_SECRET_KEY=spsk_test

JWT_ACCESS_EXPIRES_IN_MINUTES=100